
body{
    background-color: #f1f3f4;
    font-family: sans-serif;
}
.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid blue;
    z-index: 2;
}
.logo{
    height: 40px;
    margin: 5px 10px;
}
.search-box .form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.search-box .input-group-text{
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box{
    display: inline-flex;
    width: 50%;
}
.fa-search{
    color: #fff;
}
.menu-bar{
    width: 40%;
    height: 57px;   
}
.menu-bar ul{
    display: inline-flex;
}
.menu-bar ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    
}
.menu-bar ul li.cart {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}
.menu-bar ul li.login {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}
.menu-bar ul li a{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.fa-shopping-basket{
    margin-right: 5px;
}
@media only screen and (max-width: 1000px){
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box{
        width: 100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}
/* ----------------------------Side-menu----------*/
.side-menu{
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: blanchedalmond;
}
.side-menu ul{
    margin-left: 10px;
}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover{
    color: orange;
}
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul{
    display: block;
    height: 400px;
    margin-left: 11%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-cloud{
    margin-left: 4px;
}
#menu-btn,#close-btn{
    font-size: 30px;
    margin: 10px;
    color: orange;
    display: none;
}
@media only screen and (max-width: 1000px){
    .side-menu{
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        display: none;
    }
    .side-menu ul li ul{
        top: 133px;
    }
    .side-menu ul li:hover ul{
        margin-left: 30%;
    }
    #menu-btn{
        display: block;
    }
    #text{
        display: none;
    }
}
/*-----------slider----------*/
.slider{
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
}
.carousel{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.carousel-indicators{
    z-index: 1 !important;
}
@media only screen and (max-width: 1000px){
    .slider{
        width: 100%;
        margin-left: 0;
    }
}
/*-----------------categories--------------*/
.featured-categories{
    margin: 50px 0;
}
.featured-categories img{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover{
    transform: scale(1.2);
}
/*----------------Sale product------------*/
.title-box{
    background: orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2{
    font-size: 24px;
}
.title-box::after{
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}
/*------------product top--------------*/
.product-top img{
    width: 100%;
}
/*.overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn btn-secondary{
    background: none !important;
    border: none !important;;
    box-shadow: none !important;;
}
.product-top:hover .overlay-right{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}*/

/*------------product-bottom-------------------*/
.product-bottom .fa{
    color: orange;
    font-size: 10px;
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10ps;
}
.new-products{
    margin: 50px 0;
}
/*-------------web feature------------*/
.website-features{
    margin: 60px 0;
}
.website-features img{
    width: 30%;
    float: left;

}
.feature-text{
    margin-top: 10px;
    float: right;
    width: 70%;
    padding-left: 0;
}
.feature-box{
    padding-top: 20px;
}
/*---------------footer-----------------*/
.footer{
    margin-top: 50px;
    background: #000;
    color: #fff;
}
.footer h1{
    font-size: 15px;
}
.footer p{
    font-size: 12px;
}
.footer-image img{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.footer .row .fa {
    padding-right: 10px;
    font-size: 20px;
}
/*----------------single product---------------*/
.single-product{
    margin-top: 70px;
}
.new-arrival{
    background: aquamarine;
    width: 100px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.single-product .fa{
    color:darkorange;
}
.single-product .price{
    color: darkorange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
/*------------------product description----------------------*/
.product-description h6{
    margin-top: 50px;
    color: orange;
    font-size: 35px;
    font-weight: bold;
}
.product-description p{
    margin-top: 30px;
}